In [15]:
import polars as pl


df = pl.DataFrame({"foo": [1, 2, 3], "bar": ["yes", "no", "YES"]})


df[['bar']].unique()

shape: (3, 1)
┌─────┐
│ bar │
│ --- │
│ str │
╞═════╡
│ YES │
│ yes │
│ no  │
└─────┘

In [10]:
df.with_columns(  

    pl.col("bar").str.to_uppercase().alias("bar_new")

)

shape: (3, 3)
┌─────┬─────┬─────────┐
│ foo ┆ bar ┆ bar_new │
│ --- ┆ --- ┆ ---     │
│ i64 ┆ str ┆ str     │
╞═════╪═════╪═════════╡
│ 1   ┆ yes ┆ YES     │
│ 2   ┆ no  ┆ NO      │
│ 3   ┆ YES ┆ YES     │
└─────┴─────┴─────────┘

### remove alias to do in-place changes

In [11]:
df.with_columns(  

    pl.col("bar").str.to_uppercase()

)

shape: (3, 2)
┌─────┬─────┐
│ foo ┆ bar │
│ --- ┆ --- │
│ i64 ┆ str │
╞═════╪═════╡
│ 1   ┆ YES │
│ 2   ┆ NO  │
│ 3   ┆ YES │
└─────┴─────┘

In [12]:

from enum import Enum



class Directions(str, Enum):
    NORTH = 'north'
    SOUTH = 'south'

[e.value for e in Directions]

['north', 'south']

In [13]:
df = pl.DataFrame(
    {
        "a": [[1, 1, 2]],
    },
    schema_overrides={"a": pl.Array(width=3, inner=pl.Int64)},
)
df.head()

shape: (1, 1)
┌───────────────┐
│ a             │
│ ---           │
│ array[i64, 3] │
╞═══════════════╡
│ [1, 1, 2]     │
└───────────────┘

In [14]:
df.select(pl.col("a").arr.unique())

shape: (1, 1)
┌───────────┐
│ a         │
│ ---       │
│ list[i64] │
╞═══════════╡
│ [1, 2]    │
└───────────┘