In [3]:
import numpy as np
import pandas as pd  
  
# assign data of lists.  
data = {'key': [4, 5, 6], 'counter': [1, 2, 3]}  

df = pd.DataFrame(data)
df

   key  counter
0    4        1
1    5        2
2    6        3

## sum by columns

In [4]:
df.apply(np.sum, axis = 1)

0    5
1    7
2    9
dtype: int64

## sum by rows

In [ ]:
df.apply(np.sum, axis = 0)