In [6]:
import polars as pl


df = pl.DataFrame({"foo": [1, 2, 3], "bar": ["yes", "no", "YES"]})


df.head()

shape: (3, 2)
┌─────┬─────┐
│ foo ┆ bar │
│ --- ┆ --- │
│ i64 ┆ str │
╞═════╪═════╡
│ 1   ┆ yes │
│ 2   ┆ no  │
│ 3   ┆ YES │
└─────┴─────┘

In [10]:
df.with_columns(  

    pl.col("bar").str.to_uppercase().alias("bar_new")

)

shape: (3, 3)
┌─────┬─────┬─────────┐
│ foo ┆ bar ┆ bar_new │
│ --- ┆ --- ┆ ---     │
│ i64 ┆ str ┆ str     │
╞═════╪═════╪═════════╡
│ 1   ┆ yes ┆ YES     │
│ 2   ┆ no  ┆ NO      │
│ 3   ┆ YES ┆ YES     │
└─────┴─────┴─────────┘

### remove alias to do in-place changes

In [11]:
df.with_columns(  

    pl.col("bar").str.to_uppercase()

)

shape: (3, 2)
┌─────┬─────┐
│ foo ┆ bar │
│ --- ┆ --- │
│ i64 ┆ str │
╞═════╪═════╡
│ 1   ┆ YES │
│ 2   ┆ NO  │
│ 3   ┆ YES │
└─────┴─────┘